* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo, "source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}


/*--------Side Nav--------*/

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8FBCBB;/*#F28705*/
    overflow-x: hidden;
    padding-bottom: 30px;
    border-right: 1px solid;
}
.logocorner {
    height: auto;
    width: 160px;
    max-height: 84px;
}
.sidebar ul li {
    padding: 15px 15px 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    position: relative;
    top: -3px;
    transition: all 0.2s;
}
.sidebar ul li:hover{
    background:rgba( 230, 180, 160, 0.8 );
}
.sidebar ul li a{
    color: #D8DEE9;/*white*/
    padding-left: 15px;
    display: inline-block;
    width: 160px;
}
.sidebar .social_media {
    position: absolute;
    bottom: 0;
}
.row {
    margin: 0 0 50px 25px;
}
.wrapper .sidebar .social_media div a {
    padding: 8px;
    margin: 5px 5px 0px 5px;
    border: 2px solid rgb(35, 37, 33);
    /*background-color: rgba(30, 30, 40, 0.8 );*/
    border-radius: 4px;
    transition: all 0.5s;
    color: #D8DEE9;/*#D8D8D8*/
}
.wrapper .sidebar .social_media div a:hover {
    transform: scale( 1.2 );
    box-shadow: -1px 2px 7px -2px rgba(0,0,0,0.75);
}
#linkedin {
    margin-left: 10px;
}

/*--------main--------*/

.main {
    margin-left: 160px;
    padding: 0px 10px;
}
.header {
    margin-left: 160px;
    background: #ECEFF4;/*#D8D8D8*/
    height: 84px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid;
}
.header h1 {
    color: #81A1C1;
}
figure .homepic {

    margin: 20px auto 0 65px;
    max-width: 90%;
    height: auto;

}


/*--------form--------*/

.form {
    max-width: 1000px;
    margin: 40px auto;
}
form {
    display: block;
}
fieldset {
    display: block;
    margin: 20px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
fieldset label, fieldset input, fieldset select, fieldset textarea {
    min-width: 320px;
    vertical-align: top;
}

label {
    text-align: right;
}

label, input, select {
    display: inline-block;
    margin: 10px 0;
}


/*--------Over mezelf--------*/

.overmezelf1 {
    background: #ECEFF4;
    border: 1px solid;
    width: 866px;
    height: 231px;
    padding: 10px;
    margin: 25px 0px 0px 30px;
    display: inline-block;
}
.overmezelf2 {
    background: #ECEFF4;
    border: 1px solid;
    width: 1150px;
    height: 231px;
    padding: 10px;
    margin: 25px 0px 0px 30px;
    display: inline-block;
}

.overmezelffoto {
    height: 231px;
    width: auto;
    display: inline;
    vertical-align: top;
    margin: 18px 0px 0px 50px;    
}
/*--------Projects--------*/
.projectarticle {
    display: inline-block;
    background: #ECEFF4;
    border: 1px solid;
    width: calc(866px/1.4);
    height: 231px;
    padding: 10px;
    margin: 18px 0px 0px 20px;
}