* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo, "source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}



.sidebar {
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    background-color: #ECEFF4;/*#F28705*/
    border-right: 1px #4C566A solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.smbot {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;  
}
.logocorner {
    width: 100%;
    max-height: 84px;
}

.sidebar ul li {
    padding: 1.5vh 0vh 1.5vh 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    transition: all 0.2s;
}
.sidebar ul li:hover{
    /*background:rgba( 230, 180, 160, 0.8 );*/
    background: #d0e0f0;
}
.sidebar ul li a{
    color: #4C566A;/*white*/
    padding-left: 15px;
    display: inline-block;
    width: 8vw;
    font-size: 1vw;
}
.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 20%;
}
.wrapper .sidebar .social_media div a {
    padding: 8px;
    margin: 0px 0.5vw;
    border: 2px solid rgb(35, 37, 33);
    /*background-color: rgba(30, 30, 40, 0.8 );*/
    border-radius: 4px;
    transition: all 0.5s;
    color: #4C566A;/*#D8D8D8*/
}
.row {
    font-size: smaller;
    margin-top: -30%;
}


/*--------main--------*/


.mainsection {
    width: 92%;
    float: right;
}
.main {
    width: 100%;
    padding: 2vh 2vw;
}
.header {
    width: 100%;

    background: #ECEFF4;/*#D8D8D8*/
    height: 84px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    border-bottom: 1px #4C566A solid;
}
.header h1 {
    color: #81A1C1;
}

.homepic {
    
    margin: 20px 80px 0 220px;
    max-width: 68%;
    height: auto;

}
p,h2 {
    color: #4C566A;
}
.main a{
    color: black;
}



/*--------form--------*/

.form {
    max-width: 50vw;

    margin: 40px auto;
}
form {
    display: block;
}
fieldset {
    display: block;
    margin: 20px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
fieldset label, fieldset input, fieldset select, fieldset textarea {
    min-width: 320px;
    vertical-align: top;
}

label {
    text-align: right;
}

label, input, select {
    display: inline-block;
    margin: 10px 0;
}


/*--------Projects--------*/

.projectpage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.projectarticle {
    display: inline-block;
    background: #ECEFF4;
    border: 1px solid;
    width: calc(866px/1.4);
    min-height: 231px;
    padding: 10px;
    margin: 18px 0px 0px 20px;
    border-radius: 5px;

}
.projectarticle h2 {
    margin-left: 10px;
}
.projarticleparagraph {
    width: 50%;
    float: right;
    margin-top: 10px;
}
.projarticlefigure {
    height: 170px;
    width: 280px;
    margin: 10px 0px 10px 5px;
    display: inline;
}

/*--------Project: Portfolio--------*/

.portfoliosection {
    background: #ECEFF4;
    border: 1px solid;
    width: 750px;
    height: 150px;
    padding: 10px;
    margin: 25px auto 0px auto;
    display: block;
    border-radius: 5px;
    line-height: 120%;
}
.eersteversiefoto {
    height: 350px;
    width: auto;
    margin: 10px auto 10px auto;
    display: block;
}
.portfoliosection h2 {
    text-align: center;
}

/*--------Over mezelf--------*/

.overmezelfpagina {
    line-height: 120%;
}
.wiebenik {
    background: #ECEFF4;
    border: 1px solid;
    width: 60vw;
    height: 231px;
    padding: 10px;
    margin: 25px 0px 0px 30px;
    display: inline-block;
    position: relative;
    border-radius: 5px;

}
.wiebenik p {
    margin-top: 10px;
}
.overmezelf {
    background: #ECEFF4;
    border: 1px solid;
    width: 83vw;
    min-height: 231px;
    padding: 10px;
    margin: 25px 0px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

.overmezelffoto {
    max-height: 231px;
    width: auto;
    display: inline;
    margin: 1em 0px 0px 50px;   
}
.omprogrammeren {
    width: 50%;
    border: 0.5px solid;
    padding: 0.7em 0.7em 0.9em 0.7em;

}
.ommuziek {
    width: 50%;
    border: 0.5px solid;
    border-left: none;
    padding: 0.7em 0.7em 0.9em 0.7em;

}
.omprogrammeren p, .ommuziek p {
    margin-top: 10px;
}

.wiebenikenfoto {
    display: flex;
    flex-wrap: wrap;
}





@media screen and (min-width: 1025px) and (max-width: 1405px) {


    .social_media {
        display: flex;
        height: 30%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .social_media > * {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: space-between;    
    }
    .social_media div > * {
        margin:  0.5em 0!important;
    }
    .row {
        font-size: 13px;
        margin-top: 0;
    }
}



@media screen and (max-width: 1024px) {
    .logocorner {
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Archivo, "source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
        list-style: none;
        text-decoration: none;
    }
    
    img {
        max-width: 100%;
    }
    
    
    .sidebar {
        height: 3em;
        width: 100%;
        position: fixed;
        z-index: 1;
        background-color: #ECEFF4;/*#F28705*/
        border-bottom: 1px #4C566A solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .logocorner {
        width: 100%;
        max-height: 100%;
    }
    .sidebar ul {
        display: flex;
    }
    
    .sidebar ul li {
        height: 2.99em;
        transition: all 0.2s;
    }
    .sidebar ul li:hover{
        /*background:rgba( 230, 180, 160, 0.8 );*/
        background: #d0e0f0;
    }
    .sidebar ul li a{
        color: #4C566A;/*white*/
        display: inline-block;
        width: 100%;
        height: 2.99em;
        font-size: 1rem;
        text-align: center;
        padding: 5px;
    }
    .navlinkdiv {
        height: 3em;
    }
    .social_media {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 20%;
    }
    .wrapper .sidebar .social_media div a {
        padding: 8px;
        margin: 0px 0.5vw;
        border: 2px solid rgb(35, 37, 33);
        /*background-color: rgba(30, 30, 40, 0.8 );*/
        border-radius: 4px;
        transition: all 0.5s;
        color: #4C566A;/*#D8D8D8*/
    }
    .row {
        font-size: 0.95em;
        margin-top: 0;
    }
    
    
    /*--------main--------*/
    
    
    .mainsection {
        width: 100%;
        position: relative;
        top: 3em;
    }
    .main {
        width: 100%;
        padding: 2vh 2vw;
    }
    .header {
        width: 100%;
    
        background: #ECEFF4;/*#D8D8D8*/
        height: 84px;
        text-transform: uppercase;
        text-align: center;
        font-size: 2em;
        padding: 10px;
        border-bottom: 1px #4C566A solid;
    }
    .header h1 {
        color: #81A1C1;
    }
    figure .homepic {

        margin: 20px auto 0 auto;
        max-width: 100%;
        height: auto;
    }
    p,h2 {
        color: #4C566A;
    }
    .main a{
        color: black;
    }
       
    label {
        text-align: left;
    }

    .wiebenik {
        width: 83vw;
        height: 100%;
        padding-bottom: 1em;
    }

    .overmezelffoto {
        max-height: 100%;
        width: auto;
        display: inline;
        margin-left: auto;
        margin-right: auto;

        order: 1;   
    }


    /*-----------------------portfolio*/


    .portfoliosection {
        width: auto;
        height: auto;
        padding: 10px;
        margin: 25px auto 0px auto;
        display: inline-block;
    }
    .eersteversiefoto {
        height: 350px;
        width: auto;
        margin: 10px auto 10px auto;
        display: block;
    }
    .portfoliosection h2 {
        text-align: center;
    }
}


@media screen and (max-width: 605px) {
    .sidebar {
        justify-content: space-around;
    }
    .smtop {
        display: none;
    }
    .smbot {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
    }

    .smbot .social_media div a {
        padding: 8px;
        margin: 0px 5vw;
        border: 2px solid rgb(35, 37, 33);
        border-radius: 4px;
        transition: all 0.5s;
        color: #4C566A;
    }
    .row {
        font-size: 0.95em;
        margin-top: 0;
    }

    .projectarticle {
        width: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        padding-left: 2em;

    }
    .projarticleparagraph {
        float: left;
        width: 100%;
    }
}